body {
	margin: 0;
}
#wrapper {
	font-family: Raleway;
	.box {
		float: left;
		height: 100%;
		width: 50%;
		text-align: center;
	}
	#left-part {
		background-color: #fff;
		position: fixed;
		top: 0;
		.brand {
			position: absolute;
			left: 0;
			right: 0;
			top: 45%;

			video { 
			    position: fixed;
			    top: 50%;
			    left: 50%;
			    min-width: 100%;
			    min-height: 100%;
			    width: auto;
			    height: auto;
			    z-index: -100;
			    transform: translateX(-75%) translateY(-50%);
			 	background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
			  	background-size: cover;
			  	transition: 1s opacity;
			}
			#logo {
				font-size: 3em;
				text-decoration: none;
				color: rgb(191, 191, 191);
				#unique {
					color: #6458C3;
				}
			}
			#truth {
				font-family: initial;
				font-style: italic;
				font-size: 16px;
				color: #e2e1e1;
			}
		}
	}
	#right-part {
		background-color: #6458C3;
		position: absolute;
    	top: 0;
    	right: 0;
    	.textarea {
    		width: 85%;
    		margin: 0 auto;
    		color: #bfbfbf;
    		text-align: left;
    		h1 {
    			margin-bottom: -7px;
    			color: #e2e1e1;
    		}
    		p {
    			line-height: 1.7;
    		}
    		ul {
    			li {
    				padding-top: 5px; 
    			}
    		}
    		.footer {
    			position: relative;
    			top: 10px;
    			a {
    				color: #ff6197;
    			}
    		}
    	}
	}
}